{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jasmine": true
    },
    "globals": {
        "ENV": true
    },
    "extends": ["eslint:recommended", "plugin:wdio/recommended"],
    "plugins": ["ideal", "wdio"],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    }
}
